*{
  box-sizing: border-box;
}
.clearfix {
  clear: both;
}
div {
  float: left;
  width: 30%;
  height: 300px;
}
img {
  margin: auto;
}
img:hover {
    cursor: pointer;
}
p {
  width: 30%;
  text-align: center;
  display: inline;
}
