*{
  box-sizing: border-box;
}
.clearfix {
  clear: both;
}
h1 {
  text-align: center;
}
.instructions {
  margin: 0 20px;
}
div {
  float: left;
  margin: 20px;
  width: 30%;
  height: 300px;
  overflow: auto;
}
img {
  height: 325px;
  width: 100%;
  margin: auto;
}
img:hover {
    cursor: pointer;
}
p {
  width: 30%;
  text-align: center;
  display: inline;
}
